@import "tailwindcss";

@keyframes slideInRight {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.4s ease-out;
}
